body{
	font-family: 'Roboto', sans-serif;
	color:000;
}
.text-center{
	text-align:center;
}
.top-section {
	background-color: #fcf8f6;
    background-image:  url('/images/top-bg.jpg');
    background-position: center center;
    background-repeat:  no-repeat;
	height:117px;
	background-size: cover;
}
.slogan {
    padding-top: 20px;
}
.logo{
	padding-top:5px;
	margin-bottom:5px;
}
.logo-text{
	color:#ff9300;
	text-transform:uppercase;
	font-size:1em;
}
.log-wrapper {
    padding: 0;
}
.log-wrapper {
    float: left;
    width: 25%;
}
.log-right-wrapper {
    float: right;
    width: 75%;
}
.right-contacnt::after {
    clear: both;
    content: "";
    display: block;
}
.left-contact {
    display: inline-block;
}
.top-content-wrapper{
	margin-bottom:20px;
}
.callback-btn {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #13c4db), color-stop(1, #0190a6) );
	background:-moz-linear-gradient( center top, #13c4db 5%, #0190a6 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#13c4db', endColorstr='#0190a6');
	background-color:#13c4db;
	-webkit-border-top-left-radius:27px;
	-moz-border-radius-topleft:27px;
	border-top-left-radius:27px;
	-webkit-border-top-right-radius:27px;
	-moz-border-radius-topright:27px;
	border-top-right-radius:27px;
	-webkit-border-bottom-right-radius:27px;
	-moz-border-radius-bottomright:27px;
	border-bottom-right-radius:27px;
	-webkit-border-bottom-left-radius:27px;
	-moz-border-radius-bottomleft:27px;
	border-bottom-left-radius:27px;
	text-indent:0;
	border:1px solid #8fb4d9;
	display:inline-block;
	color:#ffffff;
	font-size:15px;
	font-weight:normal;
	font-style:normal;
	height:50px;
	line-height:50px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #528ecc;
	padding-left:20px;
	padding-right:20px
}
.contact-left-wrapper {
    float: left;
    padding-right: 20px;
}
.top-content-wrapper::after {
    clear: both;
    content: "";
    display: block;
}
.right-contacnt {
    float: right;
    padding-top: 15px;
}
.phone-number{
	font-size:1.3em;
	font-weight:700;
	color:#000;
}
.how-to-feedback a {
	border-bottom: 1px dashed;
    color: #13c5db;
    font-family: Roboto;
    font-size: 0.9em;
    letter-spacing: calc(1.6px);
}
/**start callack**/
.callback-btn:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #0190a6), color-stop(1, #13c4db) );
	background:-moz-linear-gradient( center top, #0190a6 5%, #13c4db 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0190a6', endColorstr='#13c4db');
	background-color:#0190a6;
}
.callback-btn:active {
	position:relative;
	top:1px;
}
.callback-module {
    float: right;
}
/*end callback*/
.top-wrapper::after {
    clear: both;
    content: "";
    display: block;
}

#show-menu{
    margin-top: 5px;
	display:none;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #13c4db), color-stop(1, #0190a6) );
	background:-moz-linear-gradient( center top, #13c4db 5%, #0190a6 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#13c4db', endColorstr='#0190a6');
	background-color:#13c4db;
	-webkit-border-top-left-radius:27px;
	-moz-border-radius-topleft:27px;
	border-top-left-radius:27px;
	-webkit-border-top-right-radius:27px;
	-moz-border-radius-topright:27px;
	border-top-right-radius:27px;
	-webkit-border-bottom-right-radius:27px;
	-moz-border-radius-bottomright:27px;
	border-bottom-right-radius:27px;
	-webkit-border-bottom-left-radius:27px;
	-moz-border-radius-bottomleft:27px;
	border-bottom-left-radius:27px;
	text-indent:0;
	border:1px solid #8fb4d9;
	color:#ffffff;
	font-size:15px;
	font-weight:normal;
	font-style:normal;
	height:30px;
	line-height:30px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #528ecc;
	padding-left:15px;
	padding-right:15px
}
#show-menu:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #0190a6), color-stop(1, #13c4db) );
	background:-moz-linear-gradient( center top, #0190a6 5%, #13c4db 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0190a6', endColorstr='#13c4db');
	background-color:#0190a6;
}
/**start component top menu**/
.top-menu {
    margin: 0;
    padding: 0;
}
.top-menu li {
	display: inline-block;
    padding-left: 27px;
    padding-right: 27px;
	position:relative;
}
.top-menu li:after{
	background: rgba(0, 0, 0, 0) url("/images/star.png") no-repeat scroll center center;
    content: "";
    display: block;
    height: 7px;
    left: -2%;
    position: absolute;
    top: 9px;
    width: 7px;
}
.top-menu li:first-child:after{
	display:none;
}
.top-menu li:first-child{
	padding-left:0px;
}
.top-menu li:last-child{
	padding-right:0px;
}
.top-menu li a{
	font-size:1.21em;
	color:#000;
}
/**end component top menu**/

/**start slider component**/
.slider-container>.row{
	margin:0px;
	padding:0px;
}

.slider-container{
	margin:0px;
	padding:0px;
    width: 100%;
    position: relative;
}
.swiper-container {
    width: 100%;
    height: 511px;
}
.container-fluid.slider-container::after {
	background: rgba(0, 0, 0, 0) url("/images/border-order.png") repeat-x scroll 0 0;
    bottom: 0px;
    content: "";
    display: block;
    height: 15px;
    position: absolute;
    width: 100%;
    z-index: 1;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.slide-head {
    background: #8b0c33;;
    left: 30%;
    position: absolute;
    top: 10%;
    padding-left: 10px;
    padding-right: 10px;
	color:#fff;
}

.see-detail {
    position: absolute;
     bottom: 20%;
	-moz-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	-webkit-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #12c3d7), color-stop(1, #0190a6) );
	background:-moz-linear-gradient( center top, #12c3d7 5%, #0190a6 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#12c3d7', endColorstr='#0190a6');
	background-color:#12c3d7;
	-webkit-border-top-left-radius:42px;
	-moz-border-radius-topleft:42px;
	border-top-left-radius:42px;
	-webkit-border-top-right-radius:42px;
	-moz-border-radius-topright:42px;
	border-top-right-radius:42px;
	-webkit-border-bottom-right-radius:42px;
	-moz-border-radius-bottomright:42px;
	border-bottom-right-radius:42px;
	-webkit-border-bottom-left-radius:42px;
	-moz-border-radius-bottomleft:42px;
	border-bottom-left-radius:42px;
	text-indent:0;
	display:inline-block;
	color:#ffffff;
	font-size:15px;
	font-weight:700;
	font-style:normal;
	height:50px;
	line-height:50px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #528ecc;
	padding-left:30px;
	padding-right:30px;
}
.see-detail:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #0190a6), color-stop(1, #12c3d7) );
	background:-moz-linear-gradient( center top, #0190a6 5%, #12c3d7 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0190a6', endColorstr='#12c3d7');
	background-color:#0190a6;
	text-decoration:none;
	color:#fff;
}
.see-detail:active {
	position:relative;
	top:1px;
}
.slide-head h2 {
    font-size: 1.2em;
    font-weight: 400;
}
/* This button was generated using CSSButtonGenerator.com */
/**end slider component**/
.order-header{
	display: inline-block;
    font-family: "Roboto Slab",serif;
    font-size: 1.9em;
    padding-bottom: 40px;
    padding-top: 40px;
    position: relative;
    text-transform: uppercase;
}

.order-header::before {
    background: #db0082 none repeat scroll 0 0;
    content: "";
    display: block;
    height: 2px;
    left: -60px;
    position: absolute;
    top: 50%;
    width: 40px;
}

.order-header::after {
    background: #db0082 none repeat scroll 0 0;
    content: "";
    display: block;
    height: 2px;
    right: -60px;
    position: absolute;
    top: 50%;
    width: 40px;
}
/**start component order-list on main page**/
.order-wrapper{
	background-image:url('/images/bg-clawn.jpg'),url('/images/bg-baloon.jpg'), url('/images/order-bg.png');
	background-repeat:no-repeat, no-repeat, repeat;
	background-position: left bottom, right bottom, center center;
}
.order-wrapper .row {
    width: 100%;
}
.order-list-wrapper{
	text-align:center;
}
.order-button-wrapper{
	margin:0px;
	padding:0px;
}
.order-button-wrapper li{
	display:inline-block;
}
.order-list-cell img{
	width:100%;
}
.order-list-cell{
	margin-bottom:40px;
}
.order-wrapper{
	text-align:center;
}
.order-list-name {
	display: inline-block;
    font-size: 1.2em;
    height: 44px;
    line-height: 1em;
    overflow: hidden;
    padding-top: 5px;
}
.order-list-cell {
    height: 280px;
}
.order-detail a{
	-moz-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	-webkit-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #12c3d7), color-stop(1, #0190a6) );
	background:-moz-linear-gradient( center top, #12c3d7 5%, #0190a6 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#12c3d7', endColorstr='#0190a6');
	background-color:#12c3d7;
	text-indent:0;
	display:inline-block;
	color:#ffffff;
	font-size:15px;
	font-weight:400;
	font-style:normal;
	height:45px;
	line-height:45px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #528ecc;
    padding-left: 15px;
    padding-right: 15px;
	border-radius: 25px 0 0 25px;
	position:relative;
	left:2px;
}
.order-detail a:hover{
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #0190a6), color-stop(1, #12c3d7) );
	background:-moz-linear-gradient( center top, #0190a6 5%, #12c3d7 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0190a6', endColorstr='#12c3d7');
	background-color:#0190a6;
	text-decoration:none;
	color:#fff;
}
.order-send a{
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ba1c7d), color-stop(1, #9d1a6d) );
	background:-moz-linear-gradient( center top, #ba1c7d 5%, #9d1a6d 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ba1c7d', endColorstr='#9d1a6d');
	background-color:#ba1c7d;
	text-indent:0;
	display:inline-block;
	color:#ffffff;
	font-size:15px;
	font-weight:400;
	font-style:normal;
	height:45px;
	line-height:45px;
	text-decoration:none;
	text-align:center;
	border-radius: 0 25px 25px 0px;
	left: -2px;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
}
.order-send a:hover{
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #9d1a6d), color-stop(1, #ba1c7d) );
	background:-moz-linear-gradient( center top, #9d1a6d 5%, #ba1c7d 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#9d1a6d', endColorstr='#ba1c7d');
	background-color:#9d1a6d;
	background-color:#0190a6;
	text-decoration:none;
	color:#fff;
}
/**end component order-list on main page**/

/**start component last photo on main page**/
.last-photo-wrapper{
	text-align:center;
}
.last-photo-cell {
    margin-bottom: 30px;
}
.last-photo-wrapper {
	background-image: url("/images/border-photo.png"), url("/images/texture.jpg");
    background-position: center bottom;
    background-repeat: repeat-x, repeat;
  
}
/**end componen last photo on main page**/
.about{
	font-size:1.2em;
	font-weight:400;
}
.video-cell{
	margin-bottom:55px;
	margin-top:55px;
	border:1px solid;
	height:515px;
}

/**start interesting component**/
.i-date{
	color:#db0082;
	font-size:1.9em;
	font-family: Roboto Slab;
	margin-bottom:25px;
}
.interesting-cell{
	padding:0px;
	margin:0px;
	list-style:none;
	margin-bottom:85px;
}
.interesting-cell li{
	display:block;
}
.interesting-cell a{
	font-size:1.2em;
	color:#0294a9;
	margin-bottom:15px;
	line-height:1.3em;
	display:inline-block;
}
.i-text{
	font-size:1.1em;
}
.interesting-wrapper{
	background-image: url("/images/i-bg.png");
    background-position: center ;
    background-repeat:  repeat;
	position:relative;
}
.interesting-wrapper::after {
	background: rgba(0, 0, 0, 0) url("/images/border-i.png") repeat-x scroll 0 0;
    content: "";
    display: block;
    height: 20px;
    left: 0;
    position: absolute;
    top: -15px;
    width: 100%;
}
.interesting-wrapper::before {
	background: rgba(0, 0, 0, 0) url("/images/border-i-2.png") repeat-x scroll 0 0;
    content: "";
    display: block;
    height: 20px;
    left: 0;
    position: absolute;
    bottom: -18px;
    width: 100%;
}
.read-all{
	color:#0294a9;
	font-size:1.2em;
	margin-bottom:70px;
	display:inline-block;
}
/**end interesting component**/

/**start component why wee**/
.why-wee-text{
	font-family: "Roboto Slab",serif;
	font-size:1.5em;
	line-height: 1.2em;
}
.why-wee-wrapper{
	background-image: url('/images/why-wee-left-bg.jpg'),
					  url('/images/why-wee-right-bg.jpg'),
					  url('/images/why-wee-particle-left-bg.jpg'),
					  url('/images/why-wee-particle-rigth-bg.jpg'),
					  url('/images/order-bg.png');
	background-position: left bottom, right bottom,left top, right top, center center;
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, repeat;	

}
.why-wee-wrapper>.container{
	background-image:url('/images/opacity-bg.png');
}
.why-wee-wrapper .order-header{
	padding-bottom:20px;
}
.why-wee-name{
	margin-bottom:20px;
	margin-top:20px;
	font-size:1.4em;
}
.why-wee-text{
	font-size:1.1em;
	font-weight:300;
}
.why-wee-cell ul{
	margin:0px;
	padding:0px;
	list-style:none;
}
.why-wee-cell{
	text-align:center;
	margin-bottom:50px;
}
.why-wee-cell ul li{
	display:block;
}
.why-wee-img img {
    border: 1px solid #fffbeb;
    border-radius: 100%;
}
/**end component why wee**/

/**start component person list**/
.person-text{
	font-size:1.5em;
	color:#fff;
}
.person-list-wrapper{
	text-align:center;
	background-image:url('/images/person-bg-2.jpg');
}
.person-list {
    display: inline-block;
    list-style: outside none none;
    margin: 0 20px;
    padding: 0;
	margin-bottom:40px;
}
.person-img {
	border:1px solid;
	border-radius:100%;

}
.person-name{
	margin-bottom:10px;
	margin-top:10px;
	color:#fff;
	font-size:1.2em;
}
.person-img > img {
    border: 0 solid;
    border-radius: 100%;
    margin: 6px;
}
.person-list-wrapper .order-header{
	color:#fff;
}
/**end component person list**/

/**start component work with us**/
.with-us-wrapper {
    background: #9f1a6e none repeat scroll 0 0;
	text-align: center;
}
.with-us-wrapper .order-header{
	color:#fff;
	padding-bottom:20px;
}
.with-us-cell{
	margin-bottom:60px;
}
.with-us-cell > ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
	display:inline-block;
}
.with-us-name {
    color: #ecf9ff;
    font-size: 1.4em;
    margin-bottom: 15px;
    margin-top: 50px;
}
.with-us-text {
    color: #ecf9ff;
    font-size: 1.1em;
}
.with-us-wrapper .person-text{
	margin-bottom:50px;
}
.with-us-wrapper .order-header::after, .with-us-wrapper .order-header::before{
	top:61%;
}
/**end component work with us**/
.pahter-text {
    font-family: Roboto Slab;
    font-size: 1.5em;
    line-height: 1.3;
	margin-bottom:60px;
}
.slider-mini-wrapper{
	margin-bottom:100px;
}
/**start component pather**/

/**end component pather**/
@media (max-width: 2040px) {
	.order-wrapper{
		background-image:url('/images/bg-clawn-normal.jpg'),url('/images/bg-baloon-normal.jpg'), url('/images/order-bg.png');
	}
}
@media (max-width: 1785px) {
	.order-wrapper{
		background-image:url('/images/bg-clawn-small.jpg'),url('/images/bg-baloon-small.jpg'), url('/images/order-bg.png');
	}
}
@media (max-width: 1608px) {
	.why-wee-wrapper{
		background-image: url('/images/why-wee-left-normal-bg.jpg'),
						  url('/images/why-wee-right-normal-bg.jpg'),
						  url('/images/why-wee-particle-left-bg.jpg'),
						  url('/images/why-wee-particle-rigth-bg.jpg'),
						  url('/images/order-bg.png');
	}
}

@media (max-width: 1560px) {
	.why-wee-wrapper{
		background-image: url('/images/why-wee-left-small-bg.jpg'),
						  url('/images/why-wee-right-small-bg.jpg'),
						  url('/images/why-wee-particle-left-bg.jpg'),
						  url('/images/order-bg.png'),
						  url('/images/order-bg.png');
		background-repeat: no-repeat, no-repeat, repeat-x, no-repeat, repeat;	
	}
	.order-wrapper{
		background-image:url('/images/order-bg.png'),url('/images/order-bg.png'), url('/images/order-bg.png');
	}
}
@media (max-width: 1200px) {

	.top-menu li {
		padding-left: 10px;
		padding-right: 10px;
	}
	.top-menu li::after {
		left: -6%;
	}
	.logo {
		width: 245px;
	}
	.logo-text {
		font-size: 0.9em;
	}
	.log-right-wrapper {
		padding-left: 25px;
	}
	.order-detail a, .order-send a{
		font-size:14px;
		padding-left:10px;
		padding-right:10px;
	}

}

@media(max-width: 991px){

	body{
		margin-top:40px;
		text-align:center;
	}
	.slide-head h2 {
		font-size: 14px;
		font-weight: 400;
	}
	.order-header{
		font-size:1.4em;
		padding-top:20px;
		padding-bottom:20px;
	}
	.top-section{
		border-bottom: 2px solid #ccc;
		position: fixed;
		top: 0;
		width: 100%;
		z-index:2;
	}
	.logo-text{
		display:none;
	}
	.logo {
		width: 130px;
		margin:0px;
		padding:0px;
	}
	.slogan{
		display:none;
	}
	.log-right-wrapper {
		width: 75%;
	}
	.how-to-feedback{
		display:none;
	}
	.right-contacnt {
		padding-top: 0px;
	}
	.top-menu{
		display:none;
	}
	.top-section{
		height:40px;
	}
	.top-content-wrapper{
		margin-bottom:0px;
	}
	.callback-btn{
		height: 30px;
		line-height: 25px;
		padding-left:5px;
		padding-right:5px;
	}
	.top-wrapper {
		
	}
	.right-contacnt {
		margin-top: 4px;
	}
	.phone-number {
		padding-top: 3px;
	}
	#show-menu{
		display:inline-block;
	}
}


@media (min-width: 768px) and (max-width: 980px) {
	.order-header{
		font-size:1.3em;
		padding-top:15px;
		padding-bottom:15px;
	}
}
@media (max-width: 768px) {
	.why-wee-wrapper{
		background-image: url('/images/order-bg.png'),url('/images/order-bg.png'),url('/images/order-bg.png');
	}

	.see-detail{
		height: 35px;
		line-height: 36px;
	}
	.order-header{
		line-height:1.5;
		font-size:1.2em;
		padding-top:10px;
		padding-bottom:10px;
	}
	.top-wrapper{
		display:table;
		width:100%
	}
	.top-wrapper>*, .top-wrapper .log-wrapper a{
		display:table-cell;
		height:40px;
		vertical-align: middle;
	}
}
@media (max-width:605px){
	.order-header::before, .order-header::after {
			display:none;
	}
	.phone-number{
		font-size:1em;
	}
}
@media (max-width: 550px) {
	.callback-btn {
		font-size: 0;
		width: 40px;
	}
	.log-wrapper img {
		width: 100%;
	}
	.order-detail a, .order-send a{
		font-size:12px;
		padding-left:2px;
		padding-right:2px;
	}
	.order-list-name{
		height:60px;
	}
}
@media (max-width: 480px) {
	.last-photo-cell img{
		width:100%;
	}
	.slide-head{
		display:none;
	}
	.see-detail{
		display:none;
	}
	.order-header{
		font-size:1em;
		line-height:1.4;
		padding-top:5px;
		padding-bottom:5px;
	}
	.phone-number{
		display:none;
	}
}
 @media (max-width: 400px) {
  .col-xsm {
    width: 100%;
    float: left;
  }
  .order-list-cell img{
	width:auto
  }
}
 @media (max-width: 380px) {
  .col-xsm {
    width: 100%;
    float: left;
  }
  .order-list-cell img{
	width:100%;
  }
}


/*******extension bootsrap css********/
.col-xs-1-5,
.col-sm-1-5,
.col-md-1-5,
.col-lg-1-5 {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
}
 
.col-xs-1-5 {
  width: 20%;
  float: left;
}
 
@media (min-width: 768px) {
  .col-sm-1-5 {
    width: 20%;
    float: left;
  }
}
 
@media (min-width: 992px) {
  .col-md-1-5 {
    width: 20%;
    float: left;
  }
}
 
@media (min-width: 1200px) {
  .col-lg-1-5 {
    width: 20%;
    float: left;
  }
}

.col-xs-s-2 {
  position: relative;
  min-height: 1px;
  padding-right: 5px;
  padding-left: 5px;
}
@media (min-width: 480px) and (max-width: 768px) {
  .col-xs-s-2 {
    width: 33.3%;
    float: left;
  }
}

